<aside>
    <div class="w-64 h-full shadow-md bg-primary-900 absolute text-white" id="sidenavSecExample">
        <div class="pt-8 pb-6 px-6">
              <div class="flex items-center">
                <div class="shrink-0">
                  <img src="/assets/Logomark.png" class="rounded-full w-10" alt="Logomark">
                </div>
                <div class="grow ml-3">
                  <p class="text-text_lg font-semibold text-white">Untitled UI
                  </p>
                </div>
              </div>
          </div>
        
        <ul class="relative px-4">
            <div class="flex justify-center">
                <div class="mb-3 xl:w-52">
                  <div class="input-group relative flex flex-wrap items-stretch w-full mb-4 rounded-lg">
                    <input type="search" class="form-control relative flex-auto min-w-0 block w-full px-3 py-1.5 text-base font-normal text-text-base bg-white bg-clip-padding border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-white focus:bg-white focus:border-primary-600 focus:outline-none" placeholder="Search" aria-label="Search" aria-describedby="button-addon2">
                  </div>
                </div>
            </div>
            <div class="">
                <ul class="relative">
                    <li class="relative">
                        <a class="flex items-center text-sm py-4 px-6 h-16  text-white text-ellipsis whitespace-nowrap rounded hover:text-gray-900 hover:bg-primary-700 transition duration-300 ease-in-out" href="/main/<%= admin._id %>" data-mdb-ripple="true" data-mdb-ripple-color="dark">
                            <img src="/assets/home.png" class="mr-3" alt="">
                            <span>Dashboard</span>
                        </a>
                    </li>
                    <li class="relative">
                        <a class="flex items-center text-sm py-4 px-6 h-16  text-white text-ellipsis whitespace-nowrap rounded hover:text-gray-900 hover:bg-primary-700 transition duration-300 ease-in-out" data-mdb-ripple="true" data-mdb-ripple-color="dark" href="/kurikulum/<%= admin._id %>">
                            <img src="/assets/3-layers.png" class="mr-3" alt="">
                            <span>Kurikulum</span>
                        </a>
                    </li>
                    <li class="relative">
                        <a class="flex items-center text-sm py-4 px-6 h-16  text-white text-ellipsis whitespace-nowrap rounded hover:text-gray-900 hover:bg-primary-700 transition duration-300 ease-in-out" href="/siswa/<%= admin._id %>" data-mdb-ripple="true" data-mdb-ripple-color="dark">
                            <img src="/assets/check-square.png" class="mr-3" alt="">
                            <span>Nilai Siswa</span>
                        </a>
                    </li>
                </ul>
            </div>
        </ul>
        <div class="text-center bottom-0 absolute w-full">
            <div class="px-4">
                <a class="flex items-center text-sm py-4 px-6 h-16  text-white text-ellipsis whitespace-nowrap rounded hover:text-gray-900 hover:bg-primary-700 transition duration-300 ease-in-out" href="#!" data-mdb-ripple="true" data-mdb-ripple-color="dark">
                <img src="/assets/settings.png" class="mr-3" alt="">
                <span>Settings</span>
                </a>
            </div>
            <div>
                <div class="flex items-center px-6 before:flex-1 before:border-t before:border-gray-500 before:mt-0.5 after:flex-1 after:border-t after:border-gray-500 after:mt-0.5"></div>
            </div>
        </div>
    </div>
</aside>

<main class="flex-1 ml-64 overflow-y-scroll max-h-screen">
    <div class="pt-12 pl-9 flex">
        <div>
            <h1 class="text-display_sm font-medium">Report</h1>
            <p class="text-text_md font-regular text-gray-500">Tambah nilai siswa per kelas untuk setiap mata pelajaran atau siswa untuk seluruh mata pelajaran</p>
        </div>
    </div>
    
    <div class="pt-5 pl-9 flex">
        <div class="mb-3 xl:w-96">
            <label for="jenis-pengisian-nilai" class="block text-text_sm font-medium">Jenis Report</label>
            <select class="form-select appearance-none
            h-11 
            w-96
            block
            px-3
            py-1.5
            text-base
            font-normal
            text-text-base
            bg-white bg-clip-padding bg-no-repeat
            border border-solid border-gray-300
            focus:ring-primary-600
            transition
            ease-in-out
            m-1
            rounded-lg
            focus:text-text-base focus:bg-white focus:outline-none" aria-label="Default select example">
                <option selected>Pilih jenis report</option>
                <option value="1">Nilai Siswa</option>
            </select>
        </div>
    </div>
    
    <div class="pt-5 px-9 flex">
        <div class="w-full border border-gray-300 rounded-lg px-9 py-7 flex justify-start">
            <div class="flex">
                <div class="mb-3 mr-5">
                    <label for="jenis-pengisian-nilai" class="block text-text_sm font-medium">Kelas</label>
                    <select class="form-select appearance-none
                    h-11 
                    w-96
                    block
                    px-3
                    py-1.5
                    text-base
                    font-normal
                    text-text-base
                    bg-white bg-clip-padding bg-no-repeat
                    border border-solid border-gray-300
                    focus:ring-primary-600
                    transition
                    ease-in-out
                    m-0
                    rounded-lg
                    focus:text-text-base focus:bg-white focus:outline-none" aria-label="Default select example">
                        <option selected>Pilih kelas</option>
                        <option value="1">X MIPA 1</option>
                        <option value="2">X MIPA 2</option>
                    </select>
                </div>
                <div class="mb-3 mr-5">
                    <label for="jenis-pengisian-nilai" class="block text-text_sm font-medium">Semester</label>
                    <select class="form-select appearance-none
                    h-11 
                    w-96
                    block
                    px-3
                    py-1.5
                    text-base
                    font-normal
                    text-text-base
                    bg-white bg-clip-padding bg-no-repeat
                    border border-solid border-gray-300
                    focus:ring-primary-600
                    transition
                    ease-in-out
                    m-0
                    rounded-lg
                    focus:text-text-base focus:bg-white focus:outline-none" aria-label="Default select example">
                        <option selected>Pilih Semester</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                    </select>
                </div>
                <div class="mb-3 xl:w-96">
                    <label for="jenis-pengisian-nilai" class="block text-text_sm font-medium">Mata Pelajaran</label>
                    <select class="form-select appearance-none
                    h-11 
                    w-96
                    block
                    px-3
                    py-1.5
                    text-base
                    font-normal
                    text-text-base
                    bg-white bg-clip-padding bg-no-repeat
                    border border-solid border-gray-300
                    focus:ring-primary-600
                    transition
                    ease-in-out
                    m-0
                    rounded-lg
                    focus:text-text-base focus:bg-white focus:outline-none" aria-label="Default select example">
                        <option selected>Pilih mata pelajaran</option>
                        <option value="1">Per kelas</option>
                        <option value="2">Per siswa</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
    
    <div class="pt-5 px-9 flex justify-end">
        <button type="button" class="bg-primary-600 text-white text-text_md rounded-lg text-center inline-flex items-center px-5 py-3">
            <!-- <img src="/assets/plus.png" alt="" class=" flex w-5 h-5"> -->
            Generate Report</button>
    </div>
    
    <div class="pt-5 px-9 flex">
        <div class="overflow-x-auto w-full shadow-md sm:rounded-lg">
            <table class="w-full text-left text-gray-500 bg-primary-600">
                <caption class="p-5 font-semibold text-text-base bg-white">
                    <div class="flex items-center">
                        <h1 class="text-left flex-1 text-display_xs">Daftar Nilai Siswa</h1>
                        <div>
                            <button type="button" class="bg-white text-text-base text-text_md font-semibold rounded-lg
                            border inline-flex items-center border-gray-300 px-4 py-3 mr-3"><span class="mr-2"><img src="/assets/download.png" alt=""></span>Download CSV</button>
                    </div>
                </caption>
                <thead class="text-text_sm font-medium text-gray-500 bg-gray-50">
                    <tr>
                        <th scope="col" class="py-3 px-6">
                            Nama Siswa
                        </th>
                        <th scope="col" class="py-3 px-6">
                            NISN
                        </th>
                        <th scope="col" class="py-3 px-6">
                            Nilai Siswa
                        </th>
                        <th scope="col" class="py-3 px-6">
                            Date Uploaded
                        </th>
                        <th scope="col" class="py-3 px-6">
                            Last Updated
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="bg-white border-b">
                        <th scope="row" class="py-7 px-8 font-medium text-text-base whitespace-nowrap">
                            Dea Ivanka Malaha
                        </th>
                        <td class="py-7 px-8 ">
                            D121181008
                        </td>
                        <td class="py-7 px-8 ">
                            85
                        <td class="py-7 px-8 ">
                            Jan 4, 2022
                        </td>
                        <td class="py-7 px-8 ">
                            Jan 4, 2022
                        </td>
                    </tr>
                    <tr class="bg-white border-b">
                        <th scope="row" class="py-7 px-8 font-medium text-text-base whitespace-nowrap">
                            Dea Ivanka Malaha
                        </th>
                        <td class="py-7 px-8 ">
                            D121181008
                        </td>
                        <td class="py-7 px-8 ">
                            85
                        <td class="py-7 px-8 ">
                            Jan 4, 2022
                        </td>
                        <td class="py-7 px-8 ">
                            Jan 4, 2022
                        </td>
                    </tr>
                    <tr class="bg-white border-b">
                        <th scope="row" class="py-7 px-8 font-medium text-text-base whitespace-nowrap">
                            Dea Ivanka Malaha
                        </th>
                        <td class="py-7 px-8 ">
                            D121181008
                        </td>
                        <td class="py-7 px-8 ">
                            85
                        <td class="py-7 px-8 ">
                            Jan 4, 2022
                        </td>
                        <td class="py-7 px-8 ">
                            Jan 4, 2022
                        </td>
                    </tr>
                    <tr class="bg-white border-b">
                        <th scope="row" class="py-7 px-8 font-medium text-text-base whitespace-nowrap">
                            Dea Ivanka Malaha
                        </th>
                        <td class="py-7 px-8 ">
                            D121181008
                        </td>
                        <td class="py-7 px-8 ">
                            85
                        <td class="py-7 px-8 ">
                            Jan 4, 2022
                        </td>
                        <td class="py-7 px-8 ">
                            Jan 4, 2022
                        </td>
                    </tr>
                    <tr class="bg-white border-b">
                        <th scope="row" class="py-7 px-8 font-medium text-text-base whitespace-nowrap">
                            Dea Ivanka Malaha
                        </th>
                        <td class="py-7 px-8 ">
                            D121181008
                        </td>
                        <td class="py-7 px-8 ">
                            85
                        <td class="py-7 px-8 ">
                            Jan 4, 2022
                        </td>
                        <td class="py-7 px-8 ">
                            Jan 4, 2022
                        </td>
                    </tr>
                    
                </tbody>
            </table>
        </div>
    </div>
</main>