<section class="relative flex min-h-screen flex-col justify-center overflow-hidden bg-primary-100 py-6 sm:py-12 ">
    <div class="relative bg-white p-28 shadow-xl ring-1 ring-gray-200 md:mx-auto rounded-lg">
        <div>
            <h1 class="text-display_md font-medium">
                Daftar
            </h1>
            <span class="text-text_md font-medium text-gray-500">Sudah punya akun? 
            <a href="#" class="text-text_md font-medium text-text-base underline">Daftar dengan akun anda</a></span>
        </div>

        <div class="container pt-6">
            <form action="sign up.html">
                
                
                <div class="flex">
                    <div>
                        <label for="name" class="block text-text_sm font-medium">Nama Sekolah</label>
                        <input type="text" placeholder="Nama sekolah" name="name" class="h-11 w-96 rounded-lg ring-gray-300 focus:ring-primary-600" required>
                    </div>
                    <div class="ml-14">
                        <label for="nip" class="block text-text_sm font-medium">NPSN</label>
                        <input type="tel" placeholder="Input nomor NPSN" name="nip" class="h-11 w-96 rounded-lg ring-gray-300 focus:ring-primary-600" required>
                    </div>
                </div>

                <div class="flex pt-9">
                    <div>
                        <label for="akreditasi" class="block text-text_sm font-medium">Akreditasi</label>
                        <input type="text" placeholder="Masukkan akreditasi" name="akreditasi" class="h-11 w-96 rounded-lg ring-gray-300 focus:ring-primary-600" required>
                    </div>
                    <div class="ml-14">
                        <label for="jenis_sekolah" class="block text-text_sm font-medium">Jenis Sekolah</label>
                        <div class="flex justify-center">
                            <div class="mb-3 xl:w-96">
                                <select class="form-select appearance-none
                                h-11 
                                w-96
                                block
                                px-3
                                py-1.5
                                text-base
                                font-normal
                                text-text-base
                                bg-white bg-clip-padding bg-no-repeat
                                border border-solid border-gray-300
                                focus:ring-primary-600
                                transition
                                ease-in-out
                                m-0
                                rounded-lg
                                focus:text-gray-700 focus:bg-white focus:outline-none" aria-label="Default select example">
                                    <option selected>Pilih jenis sekolah</option>
                                    <option value="1">Reguler</option>
                                    <option value="2">Swasta</option>
                                    <option value="3">Lainnya</option>
                                </select>
                            </div>
                            </div>
                                    
                    </div>
                </div>
                

                <div class="pt-9 flex">
                    <div>
                        <label for="address" class="block text-text_sm font-medium">Alamat Sekolah</label>
                        <input type="text" placeholder="Masukkan alamat dengan lengkap" name="address" class="h-11 w-96 rounded-lg ring-gray-300 focus:ring-primary-600" required>
                    </div>
                    <div class="ml-14">
                        <label for="no_telp" class="block text-text_sm font-medium">No. Telepon Sekolah</label>
                        <input type="tel" placeholder="081-234-567-564" name="email" class="h-11 w-96 rounded-lg ring-gray-300 focus:ring-primary-600" pattern="[0-9]{3}-[0-9]{3}-[0-9]{3}-[0-9]{3}" required>
                    </div>
                </div>

                <div class="pt-16">
                    <div class="form-check">
                        <input class="form-check-input appearance-none h-4 w-4 border border-primary-600 rounded-sm bg-white checked:bg-primary-600 checked:border-primary-600 focus:outline-none transition duration-200 mt-1 align-top bg-no-repeat bg-center bg-contain float-left mr-1 cursor-pointer" type="checkbox" value="" id="flexCheckChecked" unchecked>
                        <label class="form-check-label inline-block text-text-base font-medium text-text_sm" for="flexCheckChecked">
                            Saya telah membaca dan setuju pada Terms of Service, Community Guidelines dan Privacy Policy yang diterapkan oleh situs ini.
                        </label>
                </div>

                <div class="pt-9 float-right">
                    <button type="button" class="text-primary-700 hover:text-primary-900 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2">Kembali</button>
                    <button type="submit" class="bg-primary-600 text-white rounded-lg pl-8 pr-8 pt-2 pb-2" >Daftar</button>
                </div>
            </form>
        </div>
    </div>
</section>